:root {
  /* colors */
  --color-bg: hsl(0, 0%, 98%);
  --color-fg: hsl(229, 6%, 66%);
  --color-fg-alt: hsl(234, 12%, 34%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  /* spacing */
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 3rem;
}

* {
  padding: 0;
  margin: 0;
  line-height: 150%;
  outline-color: var(--color-blue);
  outline-offset: 0.2rem;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  place-content: center;
  min-height: 100vh;
  font: 400 0.9375rem 'Poppins', sans-serif;
  color: var(--color-fg);
  background: var(--color-bg);
}

main {
  display: grid;
  gap: var(--spacing-lg);
  margin: var(--spacing-lg) auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--color-fg-alt);
}

/* ------------------------------- description ------------------------------ */
.description {
  display: grid;
  gap: var(--spacing-md);
  margin: var(--spacing-md);
  text-align: center;
}

.description__title {
  font-size: 1.5rem;
}

.description__title span {
  display: block;
  font-weight: 200;
}

/* -------------------------------- features -------------------------------- */
.features {
  display: grid;
  gap: var(--spacing-md);
  margin: 0 var(--spacing-md);
}

.card {
  display: grid;
  flex-direction: column;
  padding: var(--spacing-md);

  /* prettier-ignore */
  background-image:
    linear-gradient(
      to bottom,
      var(--color-line) 0.3rem,
      transparent 0.3rem
    );
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1.5rem hsla(0, 0%, 0%, 0.1);
}

.card::after {
  height: 70px;
  margin-top: var(--spacing-lg);
  margin-left: auto;
  content: var(--card-image);
}

.card--supervisor {
  --color-line: var(--color-cyan);
  --card-image: url(./images/icon-supervisor.svg);
}

.card--team {
  --color-line: var(--color-red);
  --card-image: url(./images/icon-team-builder.svg);
}

.card--karma {
  --color-line: var(--color-orange);
  --card-image: url(./images/icon-karma.svg);
}

.card--calculator {
  --color-line: var(--color-blue);
  --card-image: url(./images/icon-calculator.svg);
}

.card__title {
  font-size: 1.375rem;
}

.card__details {
  font-size: 0.75rem;
}

@media (min-width: 37em) {
  main {
    justify-items: center;
  }

  .description {
    max-width: 32rem;
  }

  .description__title {
    font-size: 2rem;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {
  main {
    max-width: 75rem;
  }

  .features {
    grid-template-areas:
      'supervisor team calculator'
      'supervisor karma calculator';
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .card {
    gap: var(--spacing-sm);
  }

  .card--supervisor {
    grid-area: supervisor;
  }

  .card--team {
    grid-area: team;
  }

  .card--karma {
    grid-area: karma;
  }

  .card--calculator {
    grid-area: calculator;
  }

  .card::after {
    margin-top: var(--spacing-md);
  }
}

/* --------------------------------- footer --------------------------------- */
footer {
  margin-bottom: var(--spacing-sm);
  font-size: 0.75rem;
  text-align: center;
}

a {
  color: var(--color-blue);
  border-radius: 0.1rem;
  transition: 150ms ease-out;
  transition-property: background, color;
}
